.App {
  text-align: center;
}
.App-logo {
  max-width: 100px; 
  max-height: 100px;
}

.fecha-container {
  display: inline-block;
  background-color: rgb(158, 126, 158);
  padding: 10px;
  border-radius: 80px;
  margin-top: 20px;
  font-size: 1.5rem; 
}

.bienvenidos-title {
  font-size: 3rem; 
  color: #574454; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  margin-bottom: 20px; 
}
.App-header {
  background-image: url('https://images5.alphacoders.com/616/616552.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



button{
  background: none;
  border: none;
}
button img{
  height: 4rem;
  width: 4rem;
}

.steps {
  display: flex;
  align-items: center;
}
.change {
  display: flex;
  align-items: center;
}
h1{
  font-size: 24px; /* Tamaño de fuente más pequeño */
  font-weight: bold; /* Negrita para resaltar el número */
  font-family: 'Arial', sans-serif; /* Cambia la fuente según tus preferencias */
  margin: 0 10px; 
}
h2 {
  font-size: 24px; /* Tamaño de fuente más pequeño */
  font-weight: bold; /* Negrita para resaltar el número */
  font-family: 'Arial', sans-serif; /* Cambia la fuente según tus preferencias */
  margin: 0 10px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
