.App {
  text-align: center;
  background-image: url('https://th.bing.com/th/id/R.f9e2b49e50aa0daa950316bcc05fcd51?rik=QzY%2fDObAh1V%2big&pid=ImgRaw&r=0');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.content-container {
  background-color: rgba(81, 89, 47, 0.8); /* Fondo de color con transparencia */
  padding: 20px; /* Espaciado interior para el contenido */
  border-radius: 10px; /* Bordes redondeados para el contenedor */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para el contenedor */
  width: 300px; /* Ejemplo: 80% del ancho del contenedor padre */
  height:500px ; /* Ejemplo: 300 píxeles de alto */
}

.small-image {
  max-width: 150px; /* Cambia esto al tamaño deseado */
  max-height: 150px; /* Cambia esto al tamaño deseado */
}

.image-container {
  align-self: flex-end;
  margin-top: 100px; /* Ajusta la cantidad de margen según tus necesidades */
}

.fecha-actual {
  font-size: 2rem; /* Tamaño de fuente */
  color: #3a322f; /* Color del texto */
  opacity: 0.5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra del texto */
  margin-bottom: 60px;
  background-color: #986d5a; /* Color de fondo */
  padding: 10px 15px; /* Espaciado interno */
  border-radius: 80px; /* Borde redondeado */
  border: 1px solid #db8f6c; /* Borde sólido y color gris */
}
.titulo-bienvenida {
  font-size: 2rem;
  color: #db8f6c;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  border: 2px solid #db8f6c; /* Borde de 2 píxeles de ancho y color negro (#333) */
  padding: 10px; /* Espacio interno alrededor del texto para separarlo del borde */
  /* Otros estilos que desees agregar */
}
